html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
}

.links {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.links:after {
    clear: both;
    content: '';
    display: block;
}

.links > li {
    float: left;
    margin: 0;
    padding: 0;
}

.links > li:after {
    content: '·';
    margin: 0 10px;
}

.links > li:last-child:after {
    content: '';
    margin: 0;
}